.expandedsearch {
	font-family: $font-family-AvertaPE;
	width: 100%;
	transition: 0.5s ease-in-out;
	padding: 0;
	max-height: 0;
	transition: 0.25s ease-in-out;
	padding: 0 2.8125rem;
	display: block;

	&.active {
		max-height: 20vh;
		display: block;
	}

	small {
		color: $app-white;
		display: block;
	}

	.secondary-action {
		display: flex;
		align-items: center;
		padding-top: 1.6875rem;

		h3 {
			color: $app-white;
			font-family: $font-family-AvertaPEBold;
			font-size: 1.3125rem;
			margin: 0;
			@media screen and (max-width: 767px) {
				font-size: 1rem;
			}
		}
		button{
			background: none;
			border: 0;
			outline: 0;
			@media screen and (max-width: 767px) {
				margin-right: 1.25rem;
			}
		}

		.video-time {
			text-transform: uppercase;
			min-width: 4.6875rem;
			margin: 0 1.875rem;

			i {
				margin-right: 0.625rem;
			}
		}

		button {
			svg {
				margin: 0 0 0 0.625rem;
			}
		}
	}
}

.diveDepperTitle {
	font-size: 1.25rem;
	cursor: pointer;
	color: $app-white;
	opacity: 1;
	width: fit-content;
	text-transform: uppercase;
	span {
		line-height: 5rem;
	}
	i {
		margin-right:  0.625rem;
	}
}

@media screen and (max-width: 767px) {
	.expandedsearch.active {
		max-height: 100%;
	}
}
